<div class="container-fluid logo-background margin-top-l padding-top-l">
    <div class="row margin-top-s">
        <div class="col-sm-12 text-center logo-pieces">
            <div class="logoRow">
                <div class="rec1 animated fadeInLeft"></div>
            </div>
            
            <div class="logoRow">
                <div class="rec2 animated fadeInRight"></div>
            </div>
            
            <div class="logoRow">
                <div class="rec3 animated fadeInLeft"></div>
            </div>
            
            <div class="logoRow">
                <div class="rec4 animated fadeInRight"></div>
            </div>
            
            <div class="logoRow">
                <div style="white-space: nowrap">
                    <div class="rec5-1 animated fadeInLeft"></div>
                    <div class="rec5-2 animated fadeInRight"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="logoRow">
                <div style="white-space: nowrap">
                    <div class="rec6-1 delay1 animated fadeInLeft"></div>
                    <div class="rec6-2 delay1 animated fadeInRight"></div>
                    <div class="clearfix"></div>
                </div>
            </div>  
            
            <div>
                <div class="logoRow"><div style="white-space: nowrap">
                    <div class="rec7-1 delay2 animated fadeInLeft"></div>
                    <div class="rec7-2 delay2 animated fadeInRight"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <h1 class="animated fadeInUp holmes">holmes</h1>
        </div>
    </div>
</div>