<div class="container-fluid logo-background">
    <div class="text-center">
        <div class="logo-pieces">
            <div class="logoRow">
                <div class="rec1 animated fadeInLeft"></div>
            </div>
            
            <div class="logoRow">
                <div class="rec2 animated fadeInRight"></div>
            </div>
            
            <div class="logoRow">
                <div class="rec3 animated fadeInLeft"></div>
            </div>
            
            <div class="logoRow">
                <div class="rec4 animated fadeInRight"></div>
            </div>
            
            <div class="logoRow">
                <div style="white-space: nowrap">
                    <div class="rec5-1 animated fadeInLeft"></div>
                    <div class="rec5-2 animated fadeInRight"></div>
                </div>
            </div>
            
            <div class="logoRow">
                <div class="logoRow"><div style="white-space: nowrap">
                    <div class="rec6-1 animated fadeInLeft"></div>
                    <div class="rec6-2 animated fadeInRight"></div>
                </div>  
            </div>
            
            <div>
                <div class="logoRow"><div style="white-space: nowrap">
                    <div class="rec7-1 animated fadeInLeft"></div>
                    <div class="rec7-2 animated fadeInRight"></div>
                </div>
            </div>
            
        </div>
        
        <h1 class="holmes">holmes</h1>
    </div>
</div>