<div class="container-fluid logo-background padding-top-l margin-top-l">
    <div class="row margin-top-s  padding-bottom-l margin-bottom-l">
        <div class="col-sm-12 text-center logo-pieces">
            <div class="logoRow">
                <div class="rec1 animated fadeInLeft"></div>
            </div>
            
            <div class="logoRow">
                <div class="rec2 animated fadeInRight"></div>
            </div>
            
            <div class="logoRow">
                <div class="rec3 animated fadeInLeft"></div>
            </div>
            
            <div class="logoRow">
                <div class="rec4 animated fadeInRight"></div>
            </div>
            
            <div class="logoRow">
                <div style="white-space: nowrap">
                    <div class="rec5-1 animated fadeInLeft"></div>
                    <div class="rec5-2 animated fadeInRight"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="logoRow">
                <div style="white-space: nowrap">
                    <div class="rec6-1 delay1 animated fadeInLeft"></div>
                    <div class="rec6-2 delay1 animated fadeInRight"></div>
                    <div class="clearfix"></div>
                </div>
            </div>  
            
            <div>
                <div class="logoRow">
                    <div style="white-space: nowrap">
                        <div class="rec7-1 delay2 animated fadeInLeft"></div>
                        <div class="rec7-2 delay2 animated fadeInRight"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <h1 class="animated fadeInUp holmes">holmes</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid app-steps text-center padding-top-l padding-bottom-l">
</div> 
<div class="container-fluid app-steps-text text-center padding-top-l padding-bottom-l">
        <div class="row">
            <h1 class="sub-heading margin-bottom-l">how it works</h1>
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-4 hiw-features">
                    <i class="fa fa-street-view fa-5x street-view-icon"></i>
                    <p class="p4 margin-top-l"> Go to where you want to live.</p>
                </div>

                <div class="col-sm-4 hiw-features">
                    <i class="fa fa-bars fa-5x bars-icon"></i>
                    <p class="p4  margin-top-l"> Look around and view live listings.</p>
                </div>

                <div class="col-sm-4 hiw-features">
                    <i class="fa fa-home fa-5x home-icon"></i>
                    <p class="p4 margin-top-l"> Find your new home.</p>
                </div>
            </div>
        </div>
</div> 
<div class="container-fluid app-steps-below padding-top-l padding-bottom-l">
</div> 

<div class="container-fluid text-center margin-top-l padding-top-l">
    <div class="holmes sub-heading grab-it margin-bottom-m">Grab it on the App Store</div>
    <img height="100"class="app-download margin-bottom-l padding-bottom-l" src="img/itunes-app-store-logo.png">
</div>
