.angular-google-map-container 
    height: 400px
.query-input
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 1px solid #d3d3d3
    font-size: 35px
    color: #9b9b9b
    width: 600px
    margin-bottom: 45px

