$blue: rgb(160,197,230)
$red: rgb(222,103,104)
$orange: rgb(244,177,113)
$green: rgb(148,195,128)

//logo styles
$logoBarHeight: 40px
$totalLogoWidth: 500px
$minLogoBar: $totalLogoWidth * .333
$minBarDifference: $totalLogoWidth - $minLogoBar
$logoDoorWidth: $totalLogoWidth * .25
$logoBottomMargin: $logoBarHeight * .25