.angular-google-map-container { 
    height: 200px; 
}
.logo-background{
    background-color: cornsilk;
}
.house-image{ 
    height: 200px;
}
.holmes{
    font-family: 'Fredoka One', cursive;
}

.green1 {
  -webkit-animation-delay: 0.3s;
}
.blue4 {
  -webkit-animation-delay: 0.1s;
}
.green2 {
  -webkit-animation-delay: 0.4s;
}

.blue3 {
  -webkit-animation-delay: 0.2s;
}
.red2 {
  -webkit-animation-delay: 0.4s;
}
.blue5 {
  -webkit-animation-delay: 0.1s;
}