h1 {
  font-size: 7rem; }

.white-background {
  background-color: white; }

.margin-top-s {
  margin-top: 15px; }

.margin-top-l {
  margin-top: 45px; }

.margin-bottom-m {
  margin-bottom: 30px; }

.padding-top-l {
  padding-top: 45px; }

.margin-bottom-l {
  margin-bottom: 45px; }

.padding-bottom-l {
  padding-bottom: 45px; }

.bar, .rec1, .rec2, .rec3, .rec4, .rec5-1, .rec5-2, .rec6-1, .rec6-2, .rec7-1, .rec7-2 {
  border-radius: 25px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 12.5px; }

.doorLeft, .rec5-1, .rec6-1, .rec7-1 {
  width: 225px;
  float: left;
  margin-right: 100px; }

.doorRight, .rec5-2, .rec6-2, .rec7-2 {
  width: 75px;
  float: left; }

.blue, .rec1, .rec3, .rec5-2, .rec6-1, .rec7-2 {
  background-color: #a0c5e6; }

.green, .rec5-1, .rec7-1 {
  background-color: #94c380; }

.red, .rec2, .rec6-2 {
  background-color: #de6768; }

.orange, .rec4 {
  background-color: #f4b171; }

.logoRow {
  width: 400px;
  margin: 0 auto; }

.rec1 {
  width: 133.2px; }

.rec2 {
  width: 222.13333px; }

.rec3 {
  width: 311.06667px; }

.rec4 {
  width: 400px; }

.delay1 {
  animation-delay: 0.2s; }

.delay2 {
  animation-delay: 0.3s; }

.holmes {
  font-family: "Fredoka One", cursive; }
  .holmes span:first-of-type {
    color: #a0c5e6; }
  .holmes span:nth-of-type(2) {
    color: #de6768; }
  .holmes span:nth-of-type(3) {
    color: #a0c5e6; }
  .holmes span:nth-of-type(4) {
    color: #f4b171; }
  .holmes span:nth-of-type(5) {
    color: #94c380; }
  .holmes span:nth-of-type(6) {
    color: #a0c5e6; }

.adkfjbasdjfnasdf {
  display: none; }

.angular-google-map-container {
  height: 400px; }

.query-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #373a3c;
  font-size: 35px;
  color: #9b9b9b;
  width: 900px;
  margin-bottom: 45px;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

input {
  outline: none;
  -webkit-appearance: none; }

.app-steps {
  background-color: #373a3c;
  color: #fff; }

.app-steps {
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden; }

.logo-background {
  padding-left: 0px;
  padding-right: 0px; }

.sub-heading {
  color: white;
  font-family: "Fredoka One", cursive;
  font-size: 4rem; }

.street-view-icon {
  color: #de6768; }

.bars-icon {
  color: #f4b171; }

.home-icon {
  color: #94c380; }

.p4 {
  color: white;
  font-size: 20px;
  font-family: "Nunito", sans-serif; }

.app-download {
  padding-left: 0px;
  padding-right: 0px; }

.app-steps-text {
  background-color: #373a3c;
  margin-top: -40px; }

.app-steps-below {
  background-color: #373a3c;
  color: #fff;
  height: 130px;
  margin-top: -40px; }

.app-steps-below {
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden; }

.grab-it {
  color: black; }

/*# sourceMappingURL=style.css.map */
